@font-face {
  font-family: Graphik;
  src: url(assets/Graphik.woff);
}

@font-face {
  font-family: Parabole;
  src: url(assets/ParaboleTrial-Regular.woff);
}

body {
  font-family: Graphik, Arial, Helvetica, sans-serif;
  padding: 10px;
  background-color: #eee;
  color: #0033ff;
}

h1 {
  font-family: Parabole, "Courier New", Courier, monospace;
  font-size: 65px;
  line-height: 0.9;
  margin-top: 20px;
}

section.info .role,
.bio,
.contact,
.selected-project {
  margin-top: 24px;
}

section.info .role {
  font-size: 22px;
  line-height: 1.2;
}
section.info .bio {
  line-height: 1.2;
}
section.info .contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #0033ff;
}

section.info .contact a {
  color: #0033ff;
  text-decoration: none;
}

section.info .contact a:hover {
  color: #6460e9;
}

.web-link {
  font-size: 14px;
  color: #0033ff;
}

.web-link:hover {
  color: #6460e9;
}

.tags {
  display: none;
}

.mobile-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mobile-tag {
  border: 1px solid #0033ff;
  border-radius: 50px;
  padding: 1px 10px;
  text-align: center;
  margin: 4px;
  font-size: 14px;
  width: fit-content;
}

.mobile-descript .mobile-tag p {
  margin-top: 1px;
  margin-bottom: 2px;
}
.plus {
  width: 15px;
  height: 17px;
  margin-top: 2px;
}

section.project-list {
  margin-left: -10px;
  margin-right: -10px;
}

.selected-project {
  font-size: 14px;
  margin-bottom: 10px;
}

.project-title {
  border-top: 1px solid #0033ff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #0033ff;
}

.project-list {
  border-bottom: 1px solid #0033ff;
}

h2 {
  font-size: 24px;
}

.expand {
  padding: 20px;
  /* background-color: #000; */
  display: none;
}

.expand.active {
  display: block;
}

.mobile-descript p {
  margin-bottom: 10px;
  width: 100%;
  line-height: 1.3;
}

.open-title {
  text-decoration: none;
  color: #0033ff;
}

.open-title.active .project-title {
  background-color: #2361ff;
  color: white;
  position: relative;
}

.open-title.active .project-title:after {
  position: absolute;
  bottom: -1px;
  height: 1px;
  background-color: #2361ff;
  width: 100%;
  left: 0;
  content: "";
}

.minus {
  display: none;
}

.open-title.active .minus {
  display: block;
  margin-top: 10px;
  margin-left: -8px;
  width: 13px;
  height: 2px;
}
.open-title.active .plus {
  display: none;
}

.inr-img {
  background-image: url(assets/mob-inr.jpg);
}

.dis-img {
  background-image: url(assets/mob-dis.jpg);
}

.pub-img {
  background-image: url(assets/mob-pub.jpg);
}

.her-img {
  background-image: url(assets/mob-her.jpg);
}

.rt-img {
  background-image: url(assets/mob-rt.jpg);
}

.mob-img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
}

@media (min-resolution: 192dpi) and (max-width: 700px) {
  /* Retina-specific stuff here */
  .inr-img {
    background-image: url(assets/mob-inr@2x.jpg);
  }

  .dis-img {
    background-image: url(assets/mob-dis@2x.jpg);
  }

  .pub-img {
    background-image: url(assets/mob-pub@2x.jpg);
  }

  .her-img {
    background-image: url(assets/mob-her@2x.jpg);
  }

  .rt-img {
    background-image: url(assets/mob-rt@2x.jpg);
  }
}

@media screen and (min-width: 701px) {
  /* .intro .headshot {
    background-image: url(../assets/denis_desktop.jpg);
  } */

  .inr-img {
    background-image: url(assets/inrelation.jpg);
  }

  .dis-img {
    background-image: url(assets/discontent.jpg);
  }

  .pub-img {
    background-image: url(assets/public.jpg);
  }

  .her-img {
    background-image: url(assets/herma.jpg);
  }

  .rt-img {
    background-image: url(assets/roundtable.jpg);
  }

  .mob-img {
    height: 477px;
    width: 100%;
  }
}

@media screen and (min-width: 701px) and (min-resolution: 192dpi) {
  .inr-img {
    background-image: url(assets/inrelation2x.jpg);
  }

  .dis-img {
    background-image: url(assets/discontent2x.jpg);
  }

  .pub-img {
    background-image: url(assets/public2x.jpg);
  }

  .her-img {
    background-image: url(assets/herma2x.jpg);
  }

  .rt-img {
    background-image: url(assets/roundtable2x.jpg);
  }
}

@media (min-width: 700px) {
  body {
    padding: 0;
    display: flex;
    font-size: 18px;
  }

  h1 {
    /* font-size: 72px; */
    font-size: 86px;
    line-height: 1.05;
  }

  section.info {
    width: 38%;
    padding: 20px 30px;
    position: fixed;
    border-right: 1px solid #0033ff;
    height: 100vh;
    margin-right: 0;
  }

  .role {
    font-size: 21px;
    line-height: 1.3;
  }
  .bio {
    font-size: 14px;
  }

  section.info .bio {
    line-height: 1.4;
  }

  section.info .contact {
    justify-content: left;
  }

  li {
    margin-right: 20px;
  }

  figure {
    margin-top: -20px;
  }

  .mobile-descript p {
    font-size: 14px;
    margin-bottom: 10px;
    width: 42%;
  }

  section.project-list {
    width: 62%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    right: 0;
    /* border-left: 1px solid #0033ff; */
    border-bottom: none;
  }

  .project-title {
    /* height: 20vh; */
    height: 10vh;
    transition: all 0.2s ease;
  }

  .selected-project {
    display: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .tag {
    border: 1px solid #0033ff;
    border-radius: 50px;
    padding: 5px 10px;
    text-align: center;
    margin: 4px;
    font-size: 14px;
  }

  [data-project="inrelation-tag"] .inrelation-tag,
  [data-project="discontent-tag"] .discontent-tag,
  [data-project="public-tag"] .public-tag,
  [data-project="herma-tag"] .herma-tag,
  [data-project="roundtable-tag"] .roundtable-tag {
    background-color: #2361ff;
    color: white;
    transition: all 0.3s ease;
  }

  /* .inrelation-tag.active,
  .discontent-tag.active,
  .public-tag.active,
  .herma-tag.active,
  .roundtable-tag.active {
    background-color: #2361ff;
    color: white;
  } */

  .project-title:hover {
    background-color: #2361ff;
    /* background-color: #0033ff; */
    color: white;
  }

  .project-title:hover line {
    stroke: white;
  }

  .in-relation {
    border-top: none;
  }

  .roundtable {
    border-bottom: 1px solid #0033ff;
  }

  svg {
    height: 16px;
    width: 14px;
  }
  a:hover svg {
    fill: #f28040;
  }

  a:hover .contact {
    font-weight: 600;
  }

  .blue {
    width: 100%;
    height: 100%;
  }

  .mobile-tag {
    display: none;
  }

  /* CURSOS FOLLOW */

  [class*="parrot"] {
    position: absolute;
    height: 20px;
    width: 15px;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .parrot-1 {
    background-image: url(cursor.svg);
    z-index: 12;
  }

  .parrot-2 {
    background-image: url(cursor.svg);
    z-index: 12;
  }

  .parrot-3 {
    background-image: url(cursor.svg);
    z-index: 12;
  }

  .parrot-4 {
    background-image: url(cursor.svg);
    z-index: 12;
  }

  .parrot-5 {
    background-image: url(cursor.svg);
    z-index: 12;
  }

  .parrot-6 {
    background-image: url(cursor.svg);
    z-index: 12;
  }

  .parrot-7 {
    background-image: url(cursor.svg);
    z-index: 12;
  }

  .parrot-8 {
    background-image: url(cursor.svg);
    z-index: 12;
  }

  .parrot-9 {
    background-image: url(cursor.svg);
    z-index: 12;
  }

  .parrot-10 {
    background-image: url(cursor.svg);
    z-index: 12;
  }

  .parrot-11 {
    background-image: url(cursor.svg);
    z-index: 12;
  }

  .parrot-12 {
    background-image: url(cursor.svg);
    z-index: 12;
  }
}

@media (min-resolution: 192dpi) and (max-width: 700px) {
  /* Retina-specific stuff here */
  .intro .headshot {
    background-image: url(../assets/denis_mobile@2x.jpg);
  }
}
@media screen and (min-width: 701px) {
  .intro .headshot {
    background-image: url(../assets/denis_desktop.jpg);
  }
}
@media screen and (min-width: 701px) and (min-resolution: 192dpi) {
  .intro .headshot {
    background-image: url(../assets/denis_desktop@2x.jpg);
  }
}
